* {
   box-sizing: border-box;

   --color1: #353535;
   --color2: #fff;
   --color3: #d9d9d9;
   --color4: #284b63;
   --color5: #3c6e71;
   --color6: #00ff00;
}

body {
   color: var(--color2);
}

/* header styling */

.page-header {
   display: flex;
   height: 150px;
   background-color: var(--color1);
   justify-content: center;
   align-items: center;
}

.page-heading {
   font-size: 2.5rem;
}

/* game styling */

.game-container {
   margin: 2rem auto;
   width: 50%;
   display: none;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}

/* start button styling */

.player-names-form {
   display: flex;
   width: 50%;
   margin: 6rem auto;
   color: #000;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
}

.player-name-inputs {
   display: flex;
   width: 80%;
   justify-content: space-evenly;
   gap: 3rem;
}

.input-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 40%;
}

.player-name-input {
   height: 2rem;
   border: none;
   border-bottom: 2px solid var(--color1);
   outline: none;
   width: 100%;
   text-align: center;
   font-size: 1.5rem;
   padding: 1.8rem;
}

.invalid {
   border-bottom-color: red;
}

.player-name-input::placeholder {
   color: var(--color3);
}

.play-btn {
   padding: 1.2rem 3.5rem;
   background-color: var(--color3);
   border-radius: 0.8rem;
   color: var(--color2);
   letter-spacing: .3rem;
   font-size: 1.8rem;
   border: none;
}

.play-btn:active {
   background-color: #a3a1a1;
}

/* game board styling */

.gameBoard-player-names-cont {
   display: flex;
   color: #000;
   gap: 6rem;
}

.player-name-display {
   align-self: center;
   font-size: 2rem;
}

.gameBoard {
   display: grid;
   min-width: 300px;
   width: 300px;
   height: 300px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.spot {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--color3);
   font-size: 1.8rem;
}

.spot:active {
   background-color: #f7f3f3fe;
}

.player1 {
   color: var(--color4);
}

.player2 {
   color: var(--color5);
}

.won {
   background-color: var(--color6);
}

.spot[data-spot="0"],
.spot[data-spot="1"],
.spot[data-spot="2"] {
   border-top: none;
}

.spot[data-spot="0"],
.spot[data-spot="3"],
.spot[data-spot="6"] {
   border-left: none;
}

.spot[data-spot="2"],
.spot[data-spot="5"],
.spot[data-spot="8"] {
   border-right: none;
}

.spot[data-spot="6"],
.spot[data-spot="7"],
.spot[data-spot="8"] {
   border-bottom: none;
}

/* match result styling */

.match-result {
   font-size: 2.5rem;
   color: black;
}

/* Restart button style */

.restart-btn {
   padding: 0.8rem 3.5rem;
   font-size: 1.5rem;
   border-radius: 0.6rem;
   border: 3px solid var(--color4);
   background-color: transparent;
   margin-top: 1rem;
}
